@import "modern-normalize/modern-normalize.css";

:root {
  --text: #111827;
  --muted: #6b7280;
  --primary: #2563eb;
  --bg: #f9fafb;
  --white: #ffffff;
  --danger: #ef4444;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

button {
  cursor: pointer;
}